include template/header
include template/intro
include template/events
include template/about
doctype html
html(lang="ru")
  head
    title= 'Title'
    //- meta
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    //- libs
    //- custom css
    link(href='/css/main.css', rel='stylesheet')
  body
    +header
    +intro
    +events
    +about
    //- libs
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    //- custom scripts
    script(src="/js/main.js")
