mixin events
    section.events
        .background
            img(src="img/section1.jpg")
        .container
            .events__title
                h1 Какое у вас мероприятие?
            .events__items
                .events__items__item
                    p Свадьба
                    img(src="img/item1.jpg")
                .events__items__item
                    p День рождения
                    img(src="img/item2.jpg")
                .events__items__item
                    p Строительство дома
                    img(src="img/item3.jpg")
                .events__items__item
                    p Выпускной
                    img(src="img/item1.jpg")
                .events__items__item
                    p 1 Сентября
                    img(src="img/item2.jpg")
                .events__items__item
                    p Подарок любимому человеку
                    img(src="img/item3.jpg")