mixin header
    section.header
        .container
            .header__logo-wrapper
                a(href='#') Капсулы времени
            ul.header__nav
                li.header__nav-item
                    a(href='#') Главная
                li.header__nav-item
                    a(href='#') Подарок
                li.header__nav-item
                    a(href='#') О капсуле
                li.header__nav-item
                    a(href='#') История
                li.header__nav-item
                    a(href='#') Заказать


